<table class="table">
    <thead class="h">
        <tr class="h">
            <th class="h">Name</th>
            <th class="h">Class</th>
            <th class="h">gender</th>
            <th class="h">address</th>

        </tr>
    </thead>
    <tbody>
        <tr class="todo" *ngFor="let student of studentsList">
            <ng-container>
                <td>{{student.name}}</td>
                <td>{{student.class}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.address}}</td>
            </ng-container>
        </tr>
    </tbody>
</table>